// @import '../../../node_modules/normalize-scss/sass/normalize';

@import 'normalize.css';


.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: auto;
    margin-top: 3rem;




    aside {
        width: 15rem;
        background-color: white;
        height: 132vh;
        position: fixed;
        top: 4.2rem;

        &.leftSide {
            left: 0;
            padding: 0;
            width: 21%;
        }

        &.rightSide {
            right: 0;
            width: 21%;
        }
    }
}
